---
// import { Image } from 'astro:assets';
---

<section class='text-center mb-10' id="sobre-mi">
  <div class='inline-block'>
    <h2 class='text-5xl text-teal-600 font-medium'>Enrique Comesaña</h2>
    <h3 class='text-2xl py-4 text-slate-50'>
      Full Stack Developer de Vigo,<small> España</small>
    </h3>
    <div class='mb-8 text-left flex items-center  gap-2'>
      <a href='https://github.com/k1k3cb' class='hover:scale-110'>
        <img src='icons/mdi--github.svg' alt='GitHub' width='32' />
      </a>
      <a
        href='https://www.linkedin.com/in/enrique-comesana/'
        class='hover:scale-110'
      >
        <img src='icons/mdi--linkedin.svg' alt='LinkedIn' width='35' />
      </a>
      <a
        href='https://mnf.red/5427065e-4753-4ded-980e-d7a3e55565da/timeline'
        class='hover:scale-110'
      >
        <img src='icons/cv-icon.png' alt='Manfred CV' width='31' />
      </a>
    </div>
  </div>

  <div class='flex justify-center'>
    <img
      class='rounded-full w-60 h-60 object-cover shadow-md border border-slate-50'
      '
      src='images/web_photo.webp'
      alt='Me'
    />
  </div>
</section>
